{% include "partials/nav.html" %}
    <!-- Box -->
    <main class="container">
        <div class="box">
            <h1 class="box-title">Routines</h1>
            <ul id="routine-list"></ul>
        </div>
    </main>
{% include "partials/footer.html" %}