{% include "partials/nav.html" %}
    <!-- Box -->
    <main class="container">
        <div class="box">
            <h1 class="box-title">Routines</h1>
            <div class="row" id="routine-list">
                
            </div>
        </div>
    </main>
{% include "partials/footer.html" %}