{% include "partials/nav.html" %}
    <div class="submit-container">
        <h1>Submission received!</h1>
        <button class="btn btn-primary btn-lg"><a href="/" class="text-decoration-none text-white">Back</a></button> 
    </div>
{% include "partials/footer.html" %}